<table class="table">
  <thead class="head">
  <tr>
    <td class="col-0">ID</td>
    <td class="col-1">FIO</td>
    <td class="col-2">Position</td>
    <td class="col-3">Gender</td>
    <td class="col-4">Married</td>
    <td class="col-5">City</td>
  </tr>
  </thead>

  <tbody class="body">
  <tr *ngFor="let p of participants; let i = index;" id="line_{{ p?.id }}">
    <td class="col-0" id="line_{{ p?.id }}_id">{{ p?.id }}</td>

    <td class="col-names" id="line_{{ p?.id }}_names">
      <span>{{ p?.fname }}</span>
      <span>{{ p?.mname }}</span>
      <span>{{ p?.lname }}</span>
    </td>

    <td class="col-position" id="line_{{ p?.id }}_position" (dblclick)="handlerDblClickPosition(p?.id)">
      <div class="val" id="val_position_{{ p?.id }}">{{ p?.position }}</div>
      <input class="input"
             type="text"
             id="inp_position_{{ p?.id }}"
             value="{{ p?.position }}"
             (blur)="handlerBlurPosition(p?.id)"
             (keyup.enter)="handlerBlurPosition(p?.id)">
    </td>

    <td class="col-gender" id="line_{{ p?.id }}_gender">
      <div class="val" id="val_gender_{{ p?.id }}">{{ GENDERS[p?.gender] }}</div>
      <!--<mat-select [(ngModel)]="p?.gender">
        <mat-option *ngFor="let gender of GENDERS; let i = index;" [value]="i">
          {{ gender }}
        </mat-option>
      </mat-select>-->

    </td>

    <td class="col-married" id="line_{{ p?.id }}_married">
      <mat-slide-toggle class="married-slide" [(ngModel)]="p.married" (change)="marriedToggle($event, p?.id)" ></mat-slide-toggle>
    </td>

    <td class="col-city" id="line_{{ p?.id }}_city" (dblclick)="handlerDblClickCity(p?.id)">
      <div class="val" id="val_city_{{ p?.id }}">{{ p?.city }}</div>
      <input class="input"
             type="text"
             id="inp_city_{{ p?.id }}"
             value="{{ p?.city }}"
             (blur)="handlerBlurCity(p?.id)"
             (keyup.enter)="handlerBlurCity(p?.id)">
    </td>
  </tr>
  </tbody>
</table>

<button class="btn btn-common" mat-button>
  Добавить нового участника
</button>
