.table{
    width: 100%;
    margin-bottom: 20px;
}

    td{
        padding: 10px;
        outline: 1px solid #ccc;
    }

    .head{
        font-weight: bold;
    }

    .body{

    }

    .input{
        display: none;
    }